{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block css %}
<link rel="stylesheet" href="../../static/login-style.css">{% endblock %}
{% block content %}
{% if error %}<script>
    $("document").ready( function () {
        alert("{{error}}");

    });
</script>
{% endif %}
<div class="login-wrap">
    <div class="login-html">
        <input id="tab-1" type="radio" name="tab" class="sign-in" {{login}}><label for="tab-1" class="tab">Sign
        In</label>
        <input id="tab-2" type="radio" name="tab" class="sign-up" {{signup}}><label for="tab-2" class="tab">Sign
        Up</label>
        <div class="login-form">
            <form action="login" method="post" class="sign-in-htm" name="login-form">
                {% csrf_token %}
                <div class="group">
                    <label for="user" class="label">Username</label>
                    <input required id="user" type="text" class="input" name="Username">
                </div>
                <div class="group">
                    <label for="pass" class="label">Password</label>
                    <input required id="pass" type="password" class="input" data-type="password" name="Password"
                           pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,18}"
                           title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters">
                </div>
                <div class="group">
                    <input id="check" type="checkbox" class="check" checked>
                    <label for="check"><span class="icon"></span> Keep me Signed in</label>
                </div>
                <div class="group">
                    <input type="submit" class="button" name="login" value="Sign In">
                </div>
                <div class="hr"></div>
                <div class="foot-lnk">
                    <a href="forgot">Forgot Password?</a>
                </div>
            </form>
            <form action="register" method="post" class="sign-up-htm" name="register-form">
                {% csrf_token %}
                <div class="group">
                    <label for="name" class="label">Name</label>
                    <input required id="name" type="text" class="input name" name="First_Name"
                           style="width: 49%;display: inline;">
                    <input required id="name" type="text" class="input name" name="Last_Name"
                           style="width: 49%;display: inline;" >
                </div>
                <div class="group">
                    <label for="user" class="label">Username</label>
                    <input required id="user" type="text" class="input" name="Username">
                </div>
                <div class="group">
                    <label for="pass" class="label">Email Address</label>
                    <input required id="email" type="text" class="input" name="Email"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
                </div>
                <div class="group">
                    <label for="pass" class="label">Password</label>
                    <input required id="pass" type="password" class="input" data-type="password" name="Password"
                           pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,18}"
                           title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters">
                </div>
                <div class="group">
                    <label for="pass" class="label">Confirm Password</label>
                    <input required id="pass" type="password" class="input" data-type="password" name="Confirm"
                           pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,18}"
                           title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters">
                </div>
                <div class="group" style="margin-top: 5px;">
                    <input type="submit" class="button" name="login" value="Sign Up">
                </div>
                <div class="hr"></div>
                <div class="foot-lnk">
                    <label for="tab-1">Already Member?</label>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}