{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Web Login using Django{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css\style.css' %}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <script type="text/javascript" src="{% static 'js/dev-vue.js' %}"></script>
  {% block css %} {% endblock %}
  <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <div class="container">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">Buddy</a>
    </div>
    <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse justify-content-between" id="collapsibleNavbar">
      <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/" >Hello {{user.username}}</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="Profile">Profile</a>
            <a class="dropdown-item" href="change_password">Change Password</a>
            <a class="dropdown-item" href="logout">Logout</a>
          </div>
        </li>
        {% else %}
        <li class="nav-item"><a href="login" class="nav-link"> Login </a></li>
        <li class="nav-item"><a href="register" class="nav-link"> Register </a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
    {% block content %}
    {% endblock %}
</body>
</html>