<nav class="navbar navbar-dark navbar-expand-lg  bg-light" id="mainNav" style="color: #27496d;">
    <div class="container"><a class="navbar-brand text-black-50 bg-white" data-bs-hover-animate="bounce" href="home">Chat-e-BOT</a>
        <button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right"
                type="button" data-toogle="collapse"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i
                class="fa fa-bars"></i></button>
        <div class="collapse navbar-collapse bg-dark" id="navbarResponsive">
            <ul class="nav navbar-nav ml-auto text-uppercase">
                <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="home#services">Services</a>
                </li>
                <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="home#portfolio">features</a>
                </li>
               <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="home#contact">Contact</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item dropdown" role="presentation">
                    <a class="nav-link dropdown-toggle js-scroll-trigger" data-toggle="dropdown" href="/">Hello {{user.username}}</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="Profile">Profile</a>
                        <a class="dropdown-item" href="logout">Logout</a>
                    </div>
                </li>
                {% else %}
                <li class="nav-item" role="presentation"><a href="login" class="nav-link js-scroll-trigger"> Login </a></li>
                <li class="nav-item" role="presentation"><a href="register" class="nav-link js-scroll-trigger"> Register </a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
