@media (min-width:768px) {
  header.masthead .intro-text .intro-heading {
    font-size: 75px;
    font-weight: 700;
    line-height: 75px;
    margin-bottom: 50px;
    font-family: Montserrat,Helvetica Neue,Helvetica,Arial,sans-serif;
  }
}

a:hover {
  /*color: #e6b301;*/
  text-decoration: underline;
}

.text-justify {
}

